.pagina{
    text-align: center;
   
  }
  .image{
    width: 200px;
    
  }
  .riga1{
    
    background-color: rgb(255, 232, 196);
    padding: 20px;
  }
  .p3{
    
   color: red;
   border :left 10px solid red;
   
  }
  
  main{
    max-width: 600px;
    margin-inline: auto;
    
  }